
logs/
plots/
pretrained_model_stats_safe_to_delete/
datasets/lfw_224/
datasets/.~lock.df.csv#
datasets/.~lock.lfw.csv#
datasets/__pycache__/
losses/__pycache__/
models/__pycache__/
__pycache__/
datasets/cc_part1and2_cropped/
datasets/df.csv
datasets/glint360k.csv
datasets/lfw.csv
datasets/lfw_224.zip
20180402-114759-vggface2.pt
models/model_resnet34_triplet.pt

datasets/casual_conv/
datasets/cc12.csv
.ipynb_checkpoints/
Validation notebook (LFW only).ipynb
datasets/glint360k_v0.0.csv
datasets/generated_triplets/
Untitled.ipynb
datasets/.~lock.glint360k.csv#
datasets/CC_pairs.txt
datasets/clean data and such.zip
datasets/clean data and such/
datasets/replaced/
model_pretrained_triplet_epoch_0.pt
run_generate.sh

datasets/VAL_pairs_1.txt
datasets/VAL_pairs_12.txt
datasets/VAL_pairs_2.txt
datasets/VAL_pairs_3.txt
datasets/VAL_pairs_34.txt
datasets/VAL_pairs_4.txt
datasets/VAL_pairs_5.txt
datasets/VAL_pairs_6.txt
datasets/cc.zip
datasets/cc_train.csv
datasets/datasets.zip
datasets/lfw.zip

datasets/VAL_pairs_56.txt
facenet-finetuning-batch-500-lr=0.00001-32ids-adaptive-1000-iter-100-epoch-nb_12171800.log
facenet-finetuning-batch-500-lr=0.00001-32ids-adaptive-1000-iter-100-epoch_12171645.log
model_training_checkpoints/
run_training_4gpus-nb.sh
run_training_4gpus.sh

*.log

Image Prewhiten.ipynb
Testing_IJB_C.ipynb
datasets/IJB_TEST.zip
datasets/IJB_pairs_12.txt
datasets/IJB_pairs_34.txt
datasets/IJB_pairs_56.txt
datasets/faster/
datasets/faster1/
img
*.jpg
*.png
*.tif
*.pt